<div>
    <h1 class="center">Estante da Yuka</h1>
    <img class="center-image" style="cursor: pointer" alt="Book Icon" src="../favicon.ico" [routerLink]="['estante']">
</div>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="text-right">
    <label>Paginômetro:{{totalPaginas}}</label>
</div>