<div class="container">
  <div class="row">
    <div class="col-sm">
      <a target="_blank" href="https://www.editoraarqueiro.com.br">Arqueiro</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.esextante.com.br">Sextante</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.intrinseca.com.br">Intrínseca</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.rocco.com.br">Rocco</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.companhiadasletras.com.br">Cia das Letras</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.elsevier.com.br">Elsevier</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.editoraarqueiro.com.br">Arqueiro</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.esextante.com.br">Sextante</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.intrinseca.com.br">Intrínseca</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.rocco.com.br">Rocco</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.companhiadasletras.com.br">Cia das Letras</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.elsevier.com.br">Elsevier</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.editoraarqueiro.com.br">Arqueiro</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.esextante.com.br">Sextante</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.intrinseca.com.br">Intrínseca</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.rocco.com.br">Rocco</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.companhiadasletras.com.br">Cia das Letras</a>
    </div>
    <div class="col-sm">
      <a target="_blank" href="https://www.elsevier.com.br">Elsevier</a>
    </div>
  </div>
</div>