<div class="row">
    <img class="left-image col-2" style="cursor: pointer" alt="Book Icon" src="../favicon.ico" [routerLink]="['estante']">
    <h4 class="left col-2">Estante</h4>

    <form class="form-inline col-6">
        <input class="form-control mr-sm-2" type="search" placeholder="Busque por título, autor, ISBN..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a class="nav-link col-2" target="_blank" [routerLink]="['login']">Entrar</a>
</div>

<td-book [bookinput]='book'></td-book>

<td-book-sale [bookinput]='book'></td-book-sale>